.input
{
    width:100px;
    text-align:right;
}

.input.suffix {
  float: left;
}

.input-field span.suffix {
  position: absolute;
  padding-left: 5px;
}

.calculated
{
    width:100px;
    background-color:#B4FFA5;
    border:none;
    font-weight:bold;
    padding:4px;
    text-align:right;
    pointer-events: none;
}

