@charset "UTF-8";
/* CSS Document */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

html {
  background: #333333;
}

body {
	margin: 0;
	padding: 0;
	background: #fff;
	text-align: left;
	line-height: 25px;
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #3C3C37;
  border-top: 5px solid #890f0f;
	font-weight: normal;
	font-style: normal;
	white-space: normal;
	list-style-type: none;
}

h1, h2, h3 {
	padding: 0;
	margin: 0;
	color: #e2e5e7;
}

p, ul, ol {
	margin-bottom: 1.5em;
}

ul {
	margin: 0px;
	padding: 0;
}

/** Style for header starts here */

.site-header {
  margin-top: 10px;
  border-bottom: 4px solid #f2f2f2;
}

.site-header .logo {
  padding-left: 0;
}

.site-header .logo img{
  width: 100%;
}

.site-header .telephone {
  text-align: right;
  color: #890f0f;
  font-size: 18px;
  font-weight: 700;
}

#header {
	width: 800px;
	height: 40px;
	margin: 0px auto;
	
}

#header h1, #header h2 {
	margin: 0px;
	padding: 0;
	font-weight: normal;
	color: #004F68;
}

#header h1 {
	padding: 100px 10px 0px 10px;
	font-size: 3em;
}

#header h2 {
	margin-top: -8px;
	padding: 0px 0px 0px 92px;
	text-transform: uppercase;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
#header h3 {
	margin-top: 10px;
	padding: 0px 0px 0px 0px;
	text-transform: uppercase;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
}


/** Style for wrapper starts here */


#wrapper {
	/* width: 800px; */
	/* margin: 0px auto; */
	/* background: #ffffff; */
	/* padding: 20px; */
}


#section-one .section-inner {
  padding: 0 0.75rem;
}

#section-one .section-title h2 {
  margin-bottom: 25px;
}

.section-title h2 {
  font-size: 2.56rem;
  color: #333333;
}

span.suffix,
span.prefix {
/*  display: none;*/
}

#left .post form .row {
  background: #f3f2f2;
}

.col.input-field {
  margin-top: 0 !important;
}

.banner-image img {
  width: 100%;
}

/** Style for menu starts here */

#menu {
	width: 800px;
	height: 40px;
	margin: 0px auto;
	background: #000000;
	background-color: #800D0D;
}

#menu ul {
	margin: 0px;
	padding: 0 0 0 20px;
	list-style: none;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	float: left;
}

#menu li {
	float: left;
	position: relative;
}

#menu li a {
	display: block;
	/*float: left;*/
	padding: 10px 10px 5px 5px;
	text-decoration: none;
	color: #FFFFFF;
}

#menu li a:hover {
	color: #000000;
	background-color: #FF9933;
}

/* Added by Tom 1/16/2013 */
#menu ul li ul {
	position: absolute;
	display: none;
	z-index: 999;
}

#menu ul li:hover ul {
	display: block;
	z-index: 999;
}

#menu ul li ul li {
	background-color: #800D0D;
	/*display: block;*/
	width: 93px;
	padding: 0px 0px 0px 5px;
}

#menu ul li ul li a {
	/*overflow: hidden;*/
	/*display: block;*/
	/*padding: 0px 10px 5px 5px;*/
	text-decoration: none;
	color: #FFFFFF;
	font-size: 10px;
	font-weight: bold;
}

#menu ul li ul li a:hover {
	color: #000000;
}

#menu ul li ul li:hover {
	background-color: #FF9933;
}
/* End Tom additions */
/** Style for content starts here */

#content {
	width: 800px;
	padding-top: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#content h1 {
	text-transform: capitalize;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px #CCCCCC dashed;
	text-align: left;
	
	line-height: 25px;
	right: auto;
	text-indent: 0.75cm;
	color: #000000;
}

#content h2 {
	text-transform: capitalize;
	font-size: 1.6em;
	font-weight: normal;
	border-bottom: 1px #CCCCCC dashed;
	background: url(images/h4.png) no-repeat left top;
}
#content h3 {
	text-transform: capitalize;
	color: #000000;
	font-size: 14px;
	font-weight: BOLD;
	
	background-color: #99CC33;
	letter-spacing: normal;
font-family: Arial, sans-serif;
text-indent: 10pt;
	
}

#content h4 {
	text-transform: capitalize;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px #CCCCCC dashed;
	text-align: left;
	background: url(images/right-2.png) no-repeat left top;
	line-height: 25px;
	right: auto;
	text-indent: 0.75cm;
	color: #000000;
}

#content h5 {
	text-transform: capitalize;
	font-size: 18px;
	font-weight: bold;
	
	text-align: left;
	font-family: Arial, sans-serif;
	color: #373737;
	text-indent: 0pt;
}

#content h6 {
	text-transform: capitalize;
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px #CCCCCC dashed;
	text-align: left;
	line-height: 25px;
	right: auto;
}

#content p {
}

input {
  text-align: right;
}

#left {
	/* float: left; */
  /*  width: 600px; */
	/* padding-left: 20px; */
	/* margin-bottom: 20px; */
	/* right: 10px; */
}

#left ul {
	margin: 0 3em;
	padding: 0;
	list-style-type: square;
}

#left li {
	margin-bottom: 10px;
	padding-left: 10px;
	line-height: 17px;
}

#left .post {
	margin-bottom: 20px;
	top: -10px;
}

#right {
	float: right;
	width: 280px;
	margin-bottom: 20px;
	padding-right: 0px;
	position: relative;
	left: 10px;
	top: 25px;
	right: 10px;
	bottom: 20px;

}

.button-wrapper button {
  background-color: #921807;
}

.button-wrapper button:hover {
  background-color: #be200a;
}

input:focus:not([type]):not([readonly]), input[type="text"]:focus:not([readonly]), 
input[type="password"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), 
input[type="url"]:focus:not([readonly]), input[type="time"]:focus:not([readonly]), 
input[type="date"]:focus:not([readonly]), input[type="datetime-local"]:focus:not([readonly]), 
input[type="tel"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]), 
input[type="search"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #921807 !important;
}

.col-header {
  text-decoration: underline;
  font-size: 16px;
}

.input-field .prefix{
  font-size: 1.5rem;
  text-align: right;
}

.prefix, .suffix {
  margin-top: 11px;
}

/** Style for footer starts here */

#footer {
	clear: both;
	width: 800px;
	height: 75px;
	margin: 0px auto;
	padding-top: 5px;
	background: #222222;
	font-size: 10px;
	color: #c6c6c6;

}

#footer .copyright {
	float: left;
	margin: 0px;
	padding-left: 15px;
	text-align: center;
}


#footer .css {
	padding-left: 5px;
	background: url(images/h4-gray-bottom.png) no-repeat left 50%;
}

#footer .xhtml {
	padding-left: 5px;
	background: url(images/h4-gray-bottom.png) no-repeat left 50%;
}

#footer a {
	color: #FFFFFF;
}

.site-footer {
  background: #333333;
  padding: 15px 0;
  margin-top: 30px !important;
}

.site-footer .copyright {
  color: #979495;
}

.site-footer .link {
  text-align: right;
  text-transform: uppercase;
}

.site-footer .link a {
  color: #ffffff;
}

#results > .row,
#results > #wrapper {
  width: 65%;
  margin: auto;
}

.site-header.wrapper.row,
.site-footer.wrapper.row {
  width: 100% !important;
}

#results .select-wrapper input.select-dropdown {
  width: 98% !important;
}

